
body{
    height: 10000px;
    font-family: "Microsoft YaHei";
    background-color: #e0e0e0;
}

/*------------------------------------------------------------------------------------*/

/*头部--主要包括-位置，扫码，搜索*/
header{
    width: 100%;
    height: 50px;
    background-color: #ccc;
    position: relative;
    background-color: #CF0903;
}
.dingwei{
    width: 100%;
    height: 100%;
    margin-right: 80px;
    position: absolute;
    left: 0;
}
.dingwei img{
    width: 15px;
    height: auto;
    position: absolute;
    left: 10px;
    top: 15px;
}
.dingwei p{
    position: absolute;
    left: 35px;
    top: 16px;
    font-size: 14px;
    color: #fff;
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
    width: 12em;/*不允许出现半汉字截断*/
}
.model-index header .dingwei i{
    width: 16px;
    height: 8px;
    background-color: #fff;
    background:url("../images/dingwei-san.png") no-repeat;
    -webkit-background-size: 12px 6px;
    background-size: 10px 5px;
    position: absolute;
    right: 110px;
    top: 24px;
    z-index: 111;
}
.search{
    width: 80px;
    height: 100%;
    position: absolute;
    right: 0;
}
.search img{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 12px;
}
/*头部结束*/

/*------------------------------------------------------------------------------------*/

/*轮播模块-开始*/
.banner {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    width: 100%;

}
.banner img{
    width: 100%;
    height: 100%;
    vertical-align:bottom;
    display:block;
}
.banner .banner-wrap {
    overflow: hidden;
    position: relative;
}
.banner .banner-wrap > div {
    float:left;
    width:100%;
    position: relative;
}
.banner .circles{
    width: 60px;
    height: 8px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform:translate(-50%,0);
    transform:translate(-50%,0);
}
.banner .circles ul{
    list-style: none;
}
.banner .circles ul li{
    float: left;
    width: 8px;
    height: 8px;
    border: 1px solid #fff;
    margin-right: 6px;
    border-radius:50%;
    box-sizing:border-box;
}
.banner .circles ul li.cur{
    background:#fff;
    border:none;
}


/*轮播模块-结束*/

/*------------------------------------------------------------------------------------*/
/*精选商品推荐--开始*/

.content{
    width: 100%;
    height: 203px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.content-top{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #ddd;
}
.content-botton{
    width: 100%;
    height: 100px;
}
.content-top-left,.content-top-right,.content-botton-left,.content-botton-right{
    float: left;
    width: 50%;
    height: 100%;
}
.content-top-left,.content-botton-left{
    border-right: 1px solid #ddd;
    box-sizing: border-box;

}
/*.content-top-left,.content-botton-left{*/
    /*border-right: 1px solid #e0e0e0;*/
    /*box-sizing: border-box;*/
/*}*/
.content img{
    width: 100%;
    height: 100%;
}
/*精选商品推荐--结束*/

/*------------------------------------------------------------------------------------*/

/*商品列表-开始*/
.select {
    width: 100%;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    position: relative;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #fff;

}
.select a{
    color: #343434;
    text-decoration: none;
}
.select img{
    width: 12px;
    height: auto;
}
.select .all{
    width: 33%;
    height: 100%;
    float: left;
    cursor: pointer;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}

.select .near {
    width: 34%;
    height: 100%;
    float: left;
    cursor: pointer;
    border-right: 1px solid #ddd;
    box-sizing: border-box;


}

.select .sort {
    width: 33%;
    height: 100%;
    float: left;
    cursor: pointer;
}

.item .listone{
    width: 100%;
    height: auto;
    position: absolute;
    top: 40px;
    z-index: 999;
    display: none;
    cursor: pointer;
    background-color: #f5f5f5;

}
.item .listtwo{
    width: 100%;
    height: auto;
    position: absolute;
    top: 40px;
    z-index: 999;
    display:none;
    cursor: pointer;
    background-color: #f5f5f5;


}
.item .listthree{
    width: 100%;
    height: auto;
    position: absolute;
    top: 40px;
    z-index: 999;
    display:none;
    cursor: pointer;
    background-color: #f5f5f5;
}
.item p{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
.active{
    background-color: #fff;
    color: red;
}
/*商品列表-结束*/
.goods{
    width: 100%;
    height: 140px;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-right: 100px;
    box-sizing: border-box;
    color: #343434;
    background-color: #fff;
}
.fix-img{
    width: 100px;
    height: 100%;
    position: absolute;
    left: 0;

}
.img{
    width: 80px;
    height: 60px;
    position: absolute;
    left: 10px;
    top: 15px;
    border-radius:3px ;
}
.img img{
    width: 80px;
    height: 60px;
    border-radius:3px;

}
/*商品，详细介绍*/
.details{
    width: 100%;
    height: 100%;
    margin-left: 100px;
}

/*商品，详细介绍，右边，上半部分*/
.details-top{
    width: 100%;
    height: 60px;
    padding-left: 100px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.name{
    width: 100%;
    height: 25px;
    position: absolute;
    left: 0;
    top: 10px;
}
.name-one{
    width: 100%;
    height: 100%;
    float: left;
    margin-right: 60px;
    line-height: 15px;
    font-size: 15px;
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
    width: 13em;/*不允许出现半汉字截断*/
    font-family: "Microsoft YaHei";

}
.name-two{
    width: 40px;
    height: 100%;
    position: absolute;
    right: 0;

}
.name-two img{
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
    margin-top: 0px;
}
.cut{
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    top: 35px;
    line-height: 20px;
    color: #808080;
}
.cut-type{
    width: 50%;
    height: 100%;
    float: left;
}
.cut-gap{
    width: 50%;
    height: 100%;
    float: right;
    text-align: right;
}
.cut-gap span{
    margin-right: 10px;
}
/*商品，详细介绍，右边，小半部分*/
.details-botton{
    width: 100%;
    height: 80px;
    line-height: 20px;
    color: #808080;
}

.fav{
    width: 100%;
    height: 20px;
    padding-top: 10px;
    position: relative;
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
    width: 18em;/*不允许出现半汉字截断*/
}

.clip-one{
    width: 100%;
    height: 20px;
    position: relative;
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
    width: 18em;/*不允许出现半汉字截断*/
}
.clip-two{
    width: 100%;
    height: 20px;
    position: relative;
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
    width: 18em;/*不允许出现半汉字截断*/
}
.clip-one img,.clip-two img{
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 2px;
}
.fav img{
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 12px;

}
.details-botton span{
    margin-left: 20px;

}
/*------------------------------------------------------------------------------------*/


/*底部--tab-开始*/
.product{
    width: 100%;
    height: 40px;
    position: fixed;
    bottom:0;
    border-top: 1px solid #ddd;
    text-align: center;
    z-index: 9999999;
    background-color: #fff;
}

/*底部--tab-结束*/
/*首页*/
.index{
    width: 25%;
    height: 100%;
    float: left;
    cursor: pointer;
    /*background:url("../images/index-1.png") no-repeat;*/
    /*-webkit-background-size: 40px 40px;*/
    /*background-size: 40px 40px;*/
    /*background-position: 50% 10%;*/
}
.index img,.find img,.card-package img ,.my img{
    width: 20px;
    height: 20px;
    margin-top: 3px;
}
.index p,.find p,.card-package p ,.my p{
    /*margin-top: 3px;*/
    font-family: "微软雅黑";
    font-weight: 300;
    font-size: 10px;
}
/*寻找*/

.find{
    width: 25%;
    height: 100%;
    float: left;
    cursor: pointer;
    /*background:url("../images/find-0.png") no-repeat;*/
    /*-webkit-background-size: 40px 40px;*/
    /*background-size: 40px 40px;*/
    /*background-position: 50% 10%;*/
}


/*卡包*/
.card-package{
    width: 25%;
    height: 100%;
    float: left;
    cursor: pointer;
    /*background:url("../images/card-package-0.png") no-repeat;*/
    /*-webkit-background-size: 40px 40px;*/
    /*background-size: 40px 40px;*/
    /*background-position: 50% 10%;*/
}


/*我的*/
.my{
    width: 25%;
    height: 100%;
    float: left;
    cursor: pointer;
    /*background:url("../images/my-0.png") no-repeat;*/
    /*-webkit-background-size: 40px 40px;*/
    /*background-size: 40px 40px;*/
    /*background-position: 50% 10%;*/
}


/*model部分*/


/*首页model*/
.model-index{
    width: 100%;
    height: 1000px;
    display: block;
}


/*寻找model*/


.model-find{
    width: 100%;
    height: 1000px;
    background-color:#ccc;
    display: none;
}

/*卡包model*/
.model-card-package{
    width: 100%;
    height: 1000px;
    background-color:chartreuse;
    display: none;
}


/*我的model*/
.model-my{
    width: 100%;
    height: 1000px;
    display: none;
}























































































