body{
    font-family: "microsoft yahei";
}
.head{
    width: 100%;
    height: 130px;
    background-color: #CE0702;
    position: relative;
}
.set{
    width: 100%;
    height: 30px;
    position: relative;
}
.set img{
    width: 30px;
    position: absolute;
    right: 15px;
    top: 0;
}
.head-img{
    position: absolute;
    left: 70px;
    top: 40px;
}
.head-img img{
    width: 80px;
}
.head-change{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.head-bd{
    position: absolute;
    left: 0;
    top: 0;
}
.info{
    width: 40%;
    height: 40px;
    position: absolute;
    left:175px;
    top: 60px;
    font-size: 16px;
    color: #fff;
}
/*我的 页面具体列表。订单，地址。。。。*/
.my-list{
    width: 100%;
    height: 1000px;
    background-color: #eee;
}
/*111111111111*/
.my-list .one{
    margin-top: 10px;
    width: 100%;
    height: 200px;
    background-color:pink;
}
.order{
    width: 100%;
    height: 25%;
    background-color: green;
    background:url("../images/order.png") no-repeat;
    background-position: 20px 10px;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
    position: relative;
    border-top: 1px solid #ddd;
}
.address{
    width: 100%;
    height: 25%;
    background-color: green;
    background:url("../images/address.png") no-repeat;
    background-position: 20px 10px;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
    position: relative;
}
.chit{
    width: 100%;
    height: 25%;
    background-color: green;
    background:url("../images/chit.png") no-repeat;
    background-position: 20px 10px;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
    position: relative;


}
.phoneix{
    width: 100%;
    height: 25%;
    background-color: green;
    background:url("../images/phoneix.png") no-repeat;
    background-position: 20px 10px;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
    position: relative;

}
/*2222222222*/
.my-list .two{
    width: 100%;
    height: 150px;
    background-color: pink;
    margin-top: 10px;
}
.collect{
    width: 100%;
    height: 33%;
    background-color: green;
    background:url("../images/collect.png") no-repeat;
    background-position: 20px 10px;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
    position: relative;

}
.boe-code{
    width: 100%;
    height: 33%;
    background-color: green;
    background:url("../images/bor-code.png") no-repeat;
    background-position: 20px 10px;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
    position: relative;

}
.two-dimension{
    width: 100%;
    height: 33%;
    background-color: red;
    background:url("../images/two-dimension1.png") no-repeat;
    background-position: 20px 10px;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
    position: relative;

}
/*333333333333*/
.my-list .three{
    width: 100%;
    height: 100px;
    background-color: deeppink;
    margin-top: 10px;
}
.feedback{
    width: 100%;
    height: 50%;
    background-color: yellow;
    background: url("../images/feedback.png") no-repeat;
    background-position: 20px 10px;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
    position: relative;

}
.about-e{
    width: 100%;
    height: 50%;
    background-color: green;
    background:url("../images/about-e.png") no-repeat;
    background-position: 20px 10px;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
    position: relative;

}
.about-e span,.feedback span,.two-dimension span,.boe-code span,.collect span,.phoneix span,.chit span,.address span,.order span{
    float: right;
    font-family: "宋体";
    font-size: 26px;
    line-height: 50px;
    margin-right: 10px;
    color: #808080;
}
.about-e a,.feedback a,.two-dimension a,.boe-code a,.collect a,.phoneix a,.chit a,.address a,.order a{
    color: #343434;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    left: 80px;
    top: 12px;
}
/*.two-dimension span,.boe-code span{*/
/*margin-right: 0px;*/
/*}*/
.feedback,.boe-code,.collect,.order,.chit,.address,.about-e,.phoneix,.two-dimension{
    border-bottom: 1px solid #ddd;
    background-color: #fff;

}
/*444444444444*/
.my-list .four{
    width: 100%;
    height: 50px;
    background-color:#fff;
    margin-top: 10px;
    position: relative;
}
.my-list .four img{
    width: 27px;
    height: 27px;
    position: absolute;
    left: 50px;
    top: 10px;
}
.my-list .four span{
    position: absolute;
    left: 80px;
    top: 10px;
    font-size: 20px;
    color: #d10802;
}